@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Kalam&display=swap");
body {
  background: #c6ffdd; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f7797d,
    #fbd786,
    #c6ffdd
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f7797d,
    #fbd786,
    #c6ffdd
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}
.shopping-list {
  color: #222;
  width: 600px;
  background-color: #ffffe0;
  border: 1px solid #d3d3d3;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.shopping-list h4 {
  font-family: "Amatic SC", cursive;
  color: #6fc7bf;
  font-size: 56px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 25px 25px;
  border-bottom: 1px solid #a9ccc9;
}
/* list indent fix */
ul,
li {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}
.shopping-list li {
  border-bottom: 1px solid #a9ccc9;
  text-indent: 20px;
  height: auto;
  padding: 10px;
}
.item {
  padding-left: 10px;
  font-size: 22px;
  font-family: "Kalam", cursive;
  color: #3a454e;
  text-transform: capitalize;
}
.btn-remove {
  /*display: none;*/
  padding-left: 10px;
  background-color: #ffffe0;
  border: none;
  font-size: 20px;
  color: #ff6368;
}
.input-field {
  padding-left: 35px;
  border-bottom: 1px solid #a9ccc9;
}
#add-input {
  font-size: 22px;
  color: #3a454e;
  font-family: "Kalam", cursive;
  border: none;
  background-color: #ffffe0;
  width: 240px;
}
/* remove outline on input focus */
textarea:focus,
input:focus {
  outline: none;
}
*:focus {
  outline: none;
}
#add-item {
  margin: 15px;
  font-size: 20px;
  color: #ffffff;
  background-color: #6fc7bf;
  border: none;
}
#add-item:hover {
  background-color: #589f98;
}
#add-item:active {
  -webkit-box-shadow: inset 1px 1px 5px #333;
  -moz-box-shadow: inset 1px 1px 5px #333;
  box-shadow: inset 1px 1px 5px #333;
}
.footer {
  text-align: center;
  font-family: "Kalam", cursive;
  font-size: 18px;
  color: #a9ccc9;
  padding: 20px;
}
